{% extends "clients/bases/edit_base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Editar contraseña {% endblock title %}
    {% block scripts %}  
    
    {% endblock %}
    
</head>
<body>
    
    
    {% block content %} 
    <div class="container_form text-center">
        <form method="post" action="">
            {% csrf_token %}
            <img src={% static "images/logo.png" %} alt="logo">

            {% for field in form %}
                <div class="row">
                    <div class="input-field col s12">
                        <label for="{{field.name}}" class="{% for class in field.label_classes %} {{ class }} {% endfor %}"><br>{{field.label}} </label><br>
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.name }}" {% if field.value %} value="{{ field.value }}"{% endif %}>
                        
                        {% if field.errors %}

                            {{field.errors}}<br>

                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        <input type="submit" value="Editar" class="btn btn-primary buttons">
        <a href="{% url 'home'%}" class="btn btn-secondary buttons">Volver a Inicio</a>
        </form>
    </div>
{% endblock %}  
</body>
</html>


